<h1><center>به نام خدا</center></h1>

<span style="color:Red">
<h2><center>محمدابول نژادیان</center></h2>
<h4><center>98103867</center></h4>
</span>
<h4><center>تمرین دوم درس بازیابی اطلاعات</center></h4>
<h5><center>بهار ۱۴۰۱</center></h5>

<div dir="rtl">
چکیده:<br />
در این نوت بوک، قرار است تا اطلاعات بسکتبال لیگ ایران و لیگ NBA را ابتدا استخراج، و سپس به تحلیل و بررسی آنها و مقایسه آن ها بپردازیم.<br />
این تحلیل و مقایسه طی سه تسک زیر انجام میشود:<br />
<ol>
<li>مقایسه تیم های NBA بر اساس نسبت برد تیم به مجموع دستمزد بازیکنان آن تیم</li>
<li>مقایسه میانگین امتیازات کسب شده توسط هر تیم در لیگ برتر ایران و لیگ NBA</li>
<li>تحلیل کلمات و نام های پربسامد بر اساس اخبار بسکتبالی سایت <a href="https://www.varzesh3.com/news?SportType=4&StartDate=&EndDate="> ورزش ۳</a></li>
</ol>
قبل از انجامی تمامی این تسک ها، نیاز به داده داریم. این داده ها قرار است تا از سه سایت زیر crawl شوند و با ابزار هایی که در ادامه به توضیح آنها خواهیم پرداخت، اطلاعات را پیش پردازش کنیم و تسک های مطلوب را انجام دهیم.

</div>

<div dir="rtl">
<center>
ابتدا با اجرا کردن بلوک کد زیرین، کتابخانه های مورد نیاز را دریافت کنید.
</center>
</div>

In [138]:
%pip install hazm
%pip install beautifulsoup4
%pip install lxml
%pip install requests
%pip install pandas
%pip install tqdm
%pip install nltk

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: hazm in /opt/homebrew/lib/python3.9/site-packages (0.7.0)
Requirement already satisfied: libwapiti>=0.2.1 in /opt/homebrew/lib/python3.9/site-packages (from hazm) (0.2.1)
Requirement already satisfied: nltk==3.3 in /opt/homebrew/lib/python3.9/site-packages (from hazm) (3.3)
Requirement already satisfied: six in /opt/homebrew/lib/python3.9/site-packages (from nltk==3.3->hazm) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: beautifulsoup4 in /opt/homebrew/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/lib/python3.9/site-packages (from beautifulsoup4) (2.3.2.post1)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: lxml in /opt/homebrew/lib/python3.9/site-packages (4.5.1)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: requests in /opt/homebrew/lib/python3.9/site-packages (2.20.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2018.10.15)
Requirement already satisfied: idna<2.8,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests) (1.24.3)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: tqdm in /opt/homebrew/lib/python3.9/site-packages (4.63.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: nltk in /opt/homebrew/lib/python3.9/site-packages (3.3)
Requirement already satisfied: six in /opt/homebrew/lib/python3.9/site-packages (from nltk) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

<hr>

<div dir="rtl">
<h1 style="color:Red">جمع آوری داده ها</h1>
ابتدای امر باید داده های را جمع آوری کنیم.<br />
برای این کار ابتدا با استفاده از کتابخانه <b>requests</b> داده ها را از سایت هایی که در ادامه آنها را معرفی میکنیم، جمع آوری میکنیم و آنها را در فایلی متنی در سیستم ذخیره میکنیم، سپس با استفاده از کتابخانه <b>BeautifulSoup4</b> داده های مورد نیازمان را از html خام که در بخش قبل دریافت کردیم استخراج میکنم.<br />
با توجه به اینکه این داده ها خام هستند، نیاز داریم تا داده های به دست آمده را پیش پردازش و مرتب کنیم و فقط داده هایی که برای تسک هایمان نیاز داریم را نگه داریم.<br />
داده هایمان را از سه سایت زیر دریافت میکنیم:
<ul>
<li><b><a href = "http://iribf.ir/">سایت رسمی فدراسیون بسکتبال ایران</a></b></li>

یکی از مشکلاتی که این سایت دارد، یکسان نبودن فرمت اطلاعات در بخش های مختلف سایت است. همچنین برای دیدن عملکرد بازیکنان در هر بازی، این سایت به یک سایت دیگر redirect میشود که باز هم این یکی دیگر از چالش هایی است که باید آن را برطرف کنیم.<br />
ما قصد داریم تا از این سایت صرفا اطلاعات فصل 99-00 را استخراج کنیم و در تسک های تعریف شده از آنها استفاده کنیم، اما شایان ذکر است که <b>زیرساختی که در این تمرین برای این سایت فراهم میشود،‌ با تغییراتی جزئی میتواند در آینده برای تحلیل لیگ برتر بسکتبال ایران به کار رود.</b>
<br />
<li><b><a href = "https://www.basketball-reference.com/"> وبسایت Basketball Refrence </a></b></li>
<br />
این وبسایت جامع ترین مرجع بررسی آمار ها و اطلاعات بسکتبال لیگ NBA و تیم های ملی بسکتبال جهان است. اطلاعاتی ارزشمند در این وبسایت وجود دارد که میتوان تسک های مختلفی روی این داده ها تعریف کرد، اما در این نوت بوک سعی داریم تا در تسک اول ابتدا میزان موفقیت هر تیم NBA را نسبت به دستمزدی که به بازیکنانشان میدهند بسنجیم، و سپس در تسک دوم از این اطلاعات برای مقایسه عملکرد بازیکنان ملی در لیگ برتر با بازیکنان رده ۱ جهانی در NBA مطلع بشویم. این تسک قطعا خیلی جالب خواهد بود! <br />
توجه شود که در حال حاضر کتابخانه ای به نام <i>basketball_reference_web_scraper</i> وجود دارد که داده های این سایت را تا حد خوبی استخراج میکند، اما داده هایی که ما در این تسک ها نیاز داریم در این کتابخانه یافت نمیشود. با توجه به متن باز بودن این کتابخانه، در آینده میتوان این داده ها را به عنوان ویژگی جدید به توسعه دهنده این کتابخانه عرضه کرد.
<br />
<li><b><a href = "https://www.varzesh3.com/news?SportType=4&StartDate=&EndDate=">بخش اخبار بسکتبالی سایت ورزش ۳</a></b></li>
<br />
اطلاعات این وبسایت همواره بروز است و اخبار خارجی و داخلی را همزمان در اختیار ما قرار میدهد. میتوان با تحلیل اخبار این سایت، به مقایسه ای عمیق تر بین بسکتبال ایران و خارج از کشور پرداخت و فهمید که نام های خاص و عبارات کلیدی در اخبار بسکتبال کدام سمت بیشتر استفاده میشود. 
</ul>
</div>

<div dir="rtl">
<center>
با اجرای بلوک زیر، کتابخانه های مورد نیاز برای این نوتبوک را import کنید.
</center>
</div>

In [1]:
from bs4 import BeautifulSoup, Comment
import requests
import os
from datetime import date
from re import sub
from decimal import Decimal
import pandas as pd
import locale
import warnings
warnings.filterwarnings('ignore')
import tqdm
from hazm import Normalizer, word_tokenize, sent_tokenize
from nltk import FreqDist
import codecs

<div dir="rtl">
 به دلیل اینکه لازم داریم تا اطلاعات استخراج شده بازیکنان و تیم ها را در یک ساختار منظم نگه داریم، دو کلاس NBATeam و NBAPlayer با ساختار هایی که در زیر قابل مشاهده است را تعریف میکنیم تا بعدا که داده ها را از متون crawl شده استخراج کردیم، آن ها را این کلاس ها ذخیره کنیم.
</div>

In [2]:
class NBATeam(object):
    abbreviations = [
        'BOS',
        'PHI',
        'TOR',
        'BRK',
        'NYK',
        'MIL',
        'CHI',
        'CLE',
        'IND',
        'DET',
        'MIA',
        'CHO',
        'ATL',
        'WAS',
        'ORL',
        'UTA',
        'DEN',
        'MIN',
        'POR',
        'OKC',
        'PHO',
        'GSW',
        'LAC',
        'LAL',
        'SAC',
        'MEM',
        'DAL',
        'NOP',
        'SAS',
        'HOU',
    ]
    all_nba_teams = []
    def __init__(self, full_name, abbreviation, wins, ppg):
        self.name = full_name
        self.abbreviation = abbreviation
        self.players = []
        self.spendings = 0
        self.wins = wins
        self.ppg = ppg
        self.wins_to_spendings_ratio = 0
        NBATeam.all_nba_teams.append(self)
    
    def add_player(self, player):
        self.players.append(player)
        self.spendings += player.salary
        

class NBAPlayer(object):
    all_nba_players = []
    def __init__(self, name, salary, team):
        self.name = name
        self.salary = salary
        self.team = team
        NBAPlayer.all_nba_players.append(self)

<div dir="rtl">
در ۴ مرحله، تمام اطلاعات لازم را از وب استخراج میکنیم و در سیستم لوکال ذخیره میکنیم. <br />
در مرحله اول، تمام اطلاعات تمامی تیم های NBA را استخراج و ذخیره میکنیم.<br /><br />
<center>
<b>توجه: ۴ بلوک کد زیر برای دریافت داده های مورد نیاز است. باتوجه به اینکه داده ها از قبل دریافت شده اند، نیازی به اجرای دوباره ۴ بلوک زیر نیست</b>
</center>
</div>

In [142]:
#Get all NBA teams datas for 2021-22 season
nba_teams_folder_name = 'Datas/NBATeams(2022-Season)'
if not os.path.isdir(nba_teams_folder_name):
    os.mkdir(nba_teams_folder_name)

nba_team_root_path = 'https://www.basketball-reference.com/teams/'
for abr in tqdm.tqdm(NBATeam.abbreviations, "Teams's data recieved"):
    team_data_path =  nba_team_root_path + abr + '/2022.html'
    team_data_source = requests.get(team_data_path).text
    team_data_file = open(f'{nba_teams_folder_name}/{abr}.html', 'wt')
    
    team_soup = BeautifulSoup(team_data_source, 'lxml') #Create the soup to only save the parts we want (For data reduction)
    #Get the team info part
    team_infos_part = team_soup.find('div', id = 'info')
    team_data_file.write(str(team_infos_part))
    #Should uncomment the part we want
    for comment in team_soup(text=lambda text: isinstance(text, Comment)):
        if 'id="div_salaries2"' in comment.string:
            tag = BeautifulSoup(comment, 'html.parser')
            comment.replace_with(tag)
            break
    player_names_salary_table = team_soup.find('div', id = 'div_salaries2')
    team_data_file.write(str(player_names_salary_table))
    # n = team_data_file.write(team_data_source) #Doesn't just print everything in there
    team_data_file.close()

Teams's data recieved: 100%|██████████| 30/30 [00:28<00:00,  1.05it/s]

<div dir="rtl">
در این بلوک، اطلاعات کلی لیگ NBA در فصل ۲۰۲۲ را استخراج و ذخیره میکنیم.
</div>

In [143]:
#Get NBA league 2021-22 datas
nba_data_source = requests.get('https://www.basketball-reference.com/leagues/NBA_2022.html').text
nba_data_file = open("Datas/NBA_League_2022_Html.html", "wt")
n = nba_data_file.write(nba_data_source)
nba_data_file.close()

<div dir="rtl">
در این بلوک، اطلاعات کلی فصل ۱۴۰۰ سوپرلیگ ایران را استخراج و ذخیره میکنیم.
</div>

In [144]:
#Get Iran Super-League 99-00 datas
iran_league_html_source = requests.get("http://iribf.ir/%d9%84%db%8c%da%af-%d8%a8%d8%b1%d8%aa%d8%b1-%d8%a2%d9%82%d8%a7%db%8c%d8%a7%d9%86-99-1400/").text
iran_league_html_file = open("Datas/Iran_League_00_Html.html", "wt")
n = iran_league_html_file.write(iran_league_html_source)
iran_league_html_file.close()

<div dir="rtl">
در انتها نیز، ۱۵ صفحه از آخرین اخبار بسکتبالی سایت ورزش ۳ را استخراج و ذخیره میکنیم.
</div>

In [145]:
#Get latest basketball news from Varzesh3
news_file = open(f'Datas/LatestNewsVarzesh3.txt', "wt")

varzesh3_basketball_news_root = 'https://www.varzesh3.com/news?SportType=4&StartDate=&EndDate=&page='
for i in tqdm.tqdm(range (1, 16), desc= "News pages downloaded"): #Get only the last 15 pages news
    varzesh3_page_root = varzesh3_basketball_news_root + str(i)
    news_page_source = requests.get(varzesh3_page_root).text
    page_soup = BeautifulSoup(news_page_source, 'lxml')

    for news_box in page_soup.find_all('div', class_ = 'newsbox col-12 col-lg-6'):
        news_link = news_box.a['href']
        #get the news details
        news_details_source = requests.get(news_link).text
        news_details_soup = BeautifulSoup(news_details_source, 'lxml')
        news_title = news_details_soup.find('h1', class_ = 'headline').text
        news_body = news_details_soup.find('div', class_ = 'news-text').text
        #Save to file
        news_id = news_link.split('/')[4]
        news_file.write(news_title + '\n')
        news_file.write(news_body + '\n\n')

news_file.close()

News pages downloaded: 100%|██████████| 15/15 [01:28<00:00,  5.93s/it]

<hr>

<div dir="rtl">
<h1 style="color:Red">تسک ۱</h1>
<h2 style="color:Orange">مقایسه تیم های NBA بر اساس نسبت برد تیم به مجموع دستمزد بازیکنان آن تیم</h2><br />
در این تسک هدف داریم تا ابتدا لیستی از بالاترین و پایینترین دستمزد های بازیکنان NBA در فصل اخیر را استخراج کنیم. بعد از اینکه دستمزد تمام بازیکنان را استخراج کردیم و با توجه به اینکه میدانیم هر بازیکن در کدام تیم بازی میکند، نسبت تعداد برد های آن تیم به مجموع دستمزد بازیکنان این تیم را به دست می آوریم و این عدد را در جدولی دیگر مرتب میکنیم تا ببینیم کدام تیم نسبت به هزینه ای که برای بازیکنانش کرده، نتیجه بهتری به دست آورده. <br />
متاسفانه اطلاعاتی در رابطه با دستمزد بازیکنان سوپرلیگ ایران در دسترس نبود تا این تسک برای بازیکنان ایرانی هم انجام شود، اما امید است در آینده ای نزدیک این شفاف بودن اطلاعات در لیگ های ورزشی ایران هم باب شود!
</div>

<div dir="rtl">
در اولین بلوک، سعی داریم تا اطلاعاتی که از تیم های ذخیره کردیم را در کلاس هایی که در ابتدای نوتبوک تعریف کردیم ذخیره کنیم. این اطلاعات شامل پرداختی همه بازیکنان، تعداد برد های همه تیم ها، بازیکنان تیم ها و دیگر اطلاعات کاربردی برای این تسک است.
</div>

In [3]:
nba_teams_folder_name = 'Datas/NBATeams(2022-Season)'
for abr in NBATeam.abbreviations:
    team_file = open(f'{nba_teams_folder_name}/{abr}.html', 'rt')
    team_html = team_file.read()
    team_soup = BeautifulSoup(team_html, 'lxml')
    #Parse team name part
    team_name_span = team_soup.find('h1', itemprop = 'name')
    team_name = team_name_span.find_all('span')[1].text #Now we have the team name
    #Parse team wins part
    team_wins_span = team_soup.find('div', {'data-template' : 'Partials/Teams/Summary'})
    team_wins = int(team_wins_span.p.text.split('\n')[3].split('-')[0]) #Get team wins number
    #Parse team points per game part
    summary_span_soup = team_soup.find('div', {'data-template' : 'Partials/Teams/Summary'})
    for summary in summary_span_soup.find_all('p'):
        summary_text = summary.text
        if 'PTS/G:' not in summary_text:
            continue
        team_ppg = float(summary.text.split('\n')[2].strip().split(' ')[0])

    team_object = NBATeam(team_name, abr, team_wins, team_ppg) #Create team object

    #Get all players in team salaries and names
    player_names_salary_table = team_soup.find('div', id = 'div_salaries2')
    for row in player_names_salary_table.find_all('tr'):
        try:
            player_name = row.find('td', {'data-stat' : 'player'}).text
            player_salary = row.find('td', {'data-stat' : 'salary'}).text
        except:
            continue
        player_object = NBAPlayer(player_name, int(Decimal(sub(r'[^\d.]', '', player_salary))), team_object)
        team_object.add_player(player_object)

<div dir="rtl">
<h3 style="color:Blue">بیشترین پرداختی تیم ها به بازیکنان</h3><br />
ابتدا تیم ها را به ترتیب پرداختی ها مرتب میکنیم
</div>

In [4]:
locale.setlocale( locale.LC_ALL, 'en_CA.UTF-8' )
team_spendings = {'Name' : [], 'Spendings' : []}
for team in NBATeam.all_nba_teams:
    team_spendings['Name'].append(team.name)
    team_spendings['Spendings'].append(team.spendings)

team_spendings_df = pd.DataFrame(team_spendings, columns = ['Name', 'Spendings'])
team_spendings_df.sort_values(['Spendings'], ascending = False, inplace = True)
team_spendings_df = team_spendings_df.astype('object')

for index, row in team_spendings_df.iterrows():
    team_spendings_df.at[index, 'Spendings'] =  locale.currency(row['Spendings'], grouping=True )
team_spendings_df.style.hide_index().set_caption('میزان پرداختی هر تیم در فصل ۲۰۲۲')

<div dir="rtl">
همانطور که مشاهده میشود، تیم Golden State Warriors بیشترین پرداختی را داشته و از آن طرف تیم Oklahoma City Thunder با پرداختی ۸۰ میلیون دلار کمترین در لیگ را داشته. <br />

<div dir="rtl">
<h3 style="color:Blue">نسبت برد به پرداختی هر تیم</h3><br />


حالا باید ارزیابی کنیم که آیا این پرداختی ها واقعا ارزشش را داشته؟ این سوال را با پیدا کردن نسبت زیر به دست می آوریم.<br />
<center>
<b><i>(تعداد برد های هر تیم تقسیم بر پرداختی آن تیم) * ۱۰۰۰۰۰۰۰</i></b>
</center>
ضریب نهایی ۱۰ میلیون به دلیل کوچک بودن عدد نسبت است.
</div>
</div>

In [148]:
team_win_ratio = {'Name' : [], 'Win To Spendings Ratio' : []}
for team in NBATeam.all_nba_teams:
    team.wins_to_spendings_ratio = (team.wins/team.spendings) * 10_000_000
    team_win_ratio['Name'].append(team.name)
    team_win_ratio['Win To Spendings Ratio'].append(team.wins_to_spendings_ratio)

df = pd.DataFrame(team_win_ratio)
df.sort_values(['Win To Spendings Ratio'], ascending = False, inplace = True)
df.style.hide_index().set_caption('نسبت برد به هزینه هر تیم در فصل ۲۰۲۲')

<div dir="rtl">
از این جدول حاصل میشود که تیم Memphis Grizzlies در فصلی که گذشت بهترین مدیریت را داشته و توانسته بیشترین نسبت برد به هزینه برای بازیکنان را داشته باشد.<br />
از طرفی نیز تیم Houston Rockets است که کمترین میزان برد را نسبت به پرداختی به بازیکنانش داشته که این موضوع به دلیل مصدومیت یکی از بازیکنان گرانقیمت این تیم در فصل گذشته بود.
</div>

<div dir="rtl">
<h3 style="color:Blue">۱۰ بازیکن گران و ارزان لیگ NBA در فصل ۲۰۲۲</h3><br />
در انتها نیز برای جذابیت بیشتر این تسک، و با توجه به اینکه اطلاعات مربوط به پرداختی همه بازیکنان را داریم، ۱۰ بازیکن گران لیگ و ۱۰ بازیکن ارزان لیگ را می آوریم.
</div>

In [149]:
player_salary_dict = {'Name' : [], 'Salary' : []}
for player in NBAPlayer.all_nba_players:
    player_salary_dict['Name'].append(player.name)
    player_salary_dict['Salary'].append(player.salary)

salary_df = pd.DataFrame(player_salary_dict)
salary_df.sort_values(['Salary'], ascending = False, inplace = True)
salary_df = salary_df.astype('object')
top_ten_df = salary_df.head(10)

for index, row in top_ten_df.iterrows():
    top_ten_df.at[index, 'Salary'] =  locale.currency(row['Salary'], grouping=True )
top_ten_df.style.hide_index().set_caption('ده بازیکن گران قیمت فصل ۲۰۲۲')

In [150]:
salary_df.sort_values(['Salary'], ascending = True, inplace = True)
worts_ten_df = salary_df.head(10)
for index, row in worts_ten_df.iterrows():
    worts_ten_df.at[index, 'Salary'] =  locale.currency(row['Salary'], grouping=True )
worts_ten_df.style.hide_index().set_caption('ده بازیکن ارزان قیمت فصل ۲۰۲۲')

<div dir="rtl">
<h2 style="color:Orange">جمع بندی تسک ۱</h2><br />
در این تسک، با ابزار های مختلفی من جمله pandas و BeautifulSoup کار کردیم تا داده های خامی که داریم را تبدیل به اطلاعات با ارزش کنیم و موارد مهمی که لازم داشتیم استخراج کنیم.
برای مثال تصویر زیر را مشاهده کنید:
<center>
<img src = "Images/Task1_exp.png" height="300">
</center>
در این تصویر، تنها داده ای که برای ما کاربردی بود، همانطور که دور آن نیز خط کشیده شده است، تعداد برد های تیم Boston Celtics بوده.<br />
برای اینکه بتوانیم فقط همین داده را از بین تمام این داده ها استخراج کنیم، توابع find() در BeautifulSoup، split در خود پایتون و آرایه هایی که داده میشد استفاده کردیم تا با پردازیش این متن، بتوانیم نهایتا تعداد برد های این تیم را استخراج کنیم.
</div>

<hr>

<div dir="rtl">
<h1 style="color:Red">تسک ۲</h1>
<h2 style="color:Orange">مقایسه میانگین امتیازات کسب شده توسط هر تیم در لیگ برتر ایران و لیگ NBA</h2><br />
در این تسک قرار است تا اطلاعات سوپر لیگ ایران را نیز دخیل کنیم. این تسک بدین گونه تعریف میشود که یک کلاس برای ذخیره اطلاعات تیم های سوپر لیگ ایران ایجاد میکنیم و میانگین امتیازات هر تیم را در آنجا ذخیره میکنم. <i> این موضوع نیز حائز اهمیت است که بازی های سوپر لیگ ایران ۴۰ دقیقه هستند در صورتی که بازی های لیگ NBA هر کدام ۴۸ دقیقه اند که چون میخواهیم مقایسه انجام دهیم، از تکنیک PER48 استفاده میکنم.
<ul>
<li><b>PER48:</b> فرض میکنیم که بازی ها هر کدام ۴۸ دقیقه ای بودند و به همین صورت، همه اعداد را از ۴۰ به ۴۸ با یک تناسب ساده مقیاس میکنیم. به صورتی که همه میانگین ها را در عدد ۴۸/۴۰ ضرب میکنم.</li>
</ul>
</i><br />
برای استخراج میانگین امتیازی هر تیم در سوپر لیگ ایران، به این عدد به صورت مستقیم دسترسی نداریم و تنها چیزی که در اختیار ما هست، جدولی به شکل زیر است که کد html آن را در بخش <i>جمع آوری داده ها</i> جمع کردیم:<br />
<center>
<img src = "Images/Task2_int.png" height = "300">
</center>
این داده باید از حاصل تقسیم تعداد گل های زده شده بر تعداد بازی های انجام شده حاصل شود و سپس طبق توضیحی که پیشتر داده شد، با تکنیک PER48 نرمالایز شود تا با داده های NBA قابل مطابقت باشد.<br />
همچنین در نهایت، باید میانگین امتیازی هر تیم NBA را نیز استخراج کنیم.<br />
در انتها نیز میانگین امتیازات تیم های NBA را با تیم های سوپرلیگ ایران مقایسه و بررسی میکنیم.
</div>

<div dir="rtl">
ابتدا، کلاسی برای ذخیره مقادیر مورد نیاز برای تیم های سوپرلیگ ایران را درست میکنیم.
</div>

In [151]:
class SuperLeagueIran(object):
    all_super_league_teams = []
    def __init__(self, games_played, points_scored, points_given, games_won, name):
        self.games_played = games_played
        self.points_scored = points_scored
        self.points_given = points_given
        self.games_won = games_won
        self.name = name
        # self.team_ppg = points_scored / games_played
        SuperLeagueIran.all_super_league_teams.append(self)
    
    def get_ppg(self):
        return (self.points_scored / self.games_played)
    
    def get_ppg_per_48(self):
        ppg = self.get_ppg()
        per_48 = ((ppg * 48) / 40)
        return per_48

<div dir="rtl">
حال اطلاعات تیم های سوپر لیگ را استخراج میکنیم

In [157]:
super_league_file_path = 'Datas/Iran_League_00_Html.html'
super_league_file = open(super_league_file_path, 'rt')
super_league_html = super_league_file.read()
super_league_soup = BeautifulSoup(super_league_html, 'lxml')
first_table = super_league_soup.find('div', {'class' : 'td_block_wrap td_block_text_with_title tdi_25_ca1 tagdiv-type td-pb-border-top new_league_bartar td_block_template_8'})
second_table = super_league_soup.find('div', {'class' : 'td_block_wrap td_block_text_with_title tdi_35_6a6 tagdiv-type td-pb-border-top new_league_bartar td_block_template_8'})

table_rows_prefixes = ['odd', 'even']
division_table = [first_table, second_table]
for desired_table in division_table:
    for i in range(0,8):
        desired_preix = table_rows_prefixes[i%2]
        team_row = desired_table.find('tr', class_ = desired_preix + ' ' + 'sp-row-no-' + str(i))
        team_name = team_row.find('td', class_ = 'data-name has-logo').text
        team_games_played = team_row.find('td', class_= 'data-sixfourtwoseven').text
        team_games_won = team_row.find('td', class_= 'data-w').text
        team_points_scored = team_row.find('td', class_= 'data-pf').text
        team_points_given = team_row.find('td', class_= 'data-pa').text
        
        team_object = SuperLeagueIran(int(team_games_played), int(team_points_scored), int(team_points_given), int(team_games_won), team_name)

super_league_file.close()

<div dir="rtl">
اطلاعات سوپر لیگ ایران و لیگ NBA را داریم. حال وقت مقایسه امتیازات کسب شده در هر مسابقه توسط تیم های این دو لیگ است.
</div>

In [158]:
team_ppg_dict = {'Team Name' : [], 'PPG' : []}
for super_league_team in SuperLeagueIran.all_super_league_teams:
    team_ppg_dict['Team Name'].append(super_league_team.name)
    team_ppg_dict['PPG'].append(super_league_team.get_ppg_per_48())
for nba_team in NBATeam.all_nba_teams:
    team_ppg_dict['Team Name'].append(nba_team.name)
    team_ppg_dict['PPG'].append(nba_team.ppg)

team_ppg_df = pd.DataFrame(team_ppg_dict)
team_ppg_df.sort_values(['PPG'], ascending = False, inplace = True)
team_ppg_df.style.hide_index().set_caption('میانگین امتیاز تیم های سوپر لیگ ایران و لیگ NBA')

<div dir="rtl">
<h2 style="color:Orange">جمع بندی تسک ۲:</h2><br />
همانطور که مشاهده شد، تیم های لیگ NBA رده های بالاتر لیست امتیاز در هر بازی را در اختیار گرفتند. این موضوع میتواند به دلیل سرعت و pace بالاتر بازی ها در لیگ NBA باشد که باعث میشود هر تیم بتواند امتیاز آوری بیشتری بکند. این موضوع همچنین در جذابیت لیگ ها هم تاثیر دارد که قطعا از این تسک میتوان نتیجه گرفت که لیگ ایران با توجه به سرعت بازی های NBA، برای جذاب تر شدن بازی هایش باید از قوانین و موارد این لیگ درس بگیرد.
</div>

<hr>

<div dir="rtl">
<h1 style="color:Red">تسک ۳</h1>
<h2 style="color:Orange">تحلیل کلمات و نام های پربسامد بر اساس اخبار بسکتبالی سایت</h2><br />
در بخش جمع آوری داده ها، ۱۵ صفحه از آخرین اخبار بسکتبالی سایت ورزش ۳ را جمع آوری کردیم. حال میخواهیم با نرمالایز کردن و تحلیل متن این اخبار، کلمات پربسامد و نام های پرتکرار را استخراج کنیم. هدف از انجام این تسک این است که هم مطلع شویم کدام لیگ ها و اسم ها بیشتر خبرساز هستند و سوژه خبری برای دنیای بسکتبال در ایران هستند، و همچنین ببینیم که کدام دست از خبر ها برای این رسانه جذاب تر است.
</div>

<div dir="rtl">
<h3 style="color:Blue">نرمالایز کردن متن اخبار</h3>
ابتدا متنی که داریم را نرمالایز میکنیم تا بتوانیم کلمات را به صورت دقیق تر استخراج کنیم.
</div>

In [159]:
news_path = 'Datas/LatestNewsVarzesh3.txt'
news_file = open(news_path, 'rt')
initial_text = news_file.read()

normalizer = Normalizer()
normalized_news = normalizer.normalize(initial_text)

<div dir="rtl">
<h3 style="color:Blue">توکنایز کردن</h3>
حال کلمات و جملات را با توکنایزیشن استخراج میکنیم.
</div>

In [160]:
tokenized_news = word_tokenize(normalized_news)
sentence_tokenized_news = sent_tokenize(normalized_news)

<div dir="rtl">
<h3 style="color:Blue">مشخصات کلی متن</h3>
حال که کلمات و جملات را استخراج کردیم، میتوانیم تعداد کلمات و جملات را به دست آوریم. اطلاعات بیشتر از متن در ادامه تسک آورده شده است.
</div>

In [161]:
print(f"تعداد کلمات: {len(tokenized_news)}")
print(f"تعداد جلمات: {len(sentence_tokenized_news)}")

تعداد کلمات: 64232
تعداد جلمات: 2427

<div dir="rtl">
<h3 style="color:Blue">حذف Stop Words</h3>
در این مرحله، Stop Word هایی که به کارمان نمی آید را حذف میکنیم. دیتاست اولیه این Stop Word ها را از مخزن <a href = "https://github.com/sobhe/hazm/blob/master/hazm/data/stopwords.dat">hazm</a> استخراج کردیم و عبارت های مرسوم در اخبار مثل "به گزارش" یا "به نقل از" و همچنین علامت های نوشتاری مثل نقطه و ویرگول را هم به این دیتاست اضافه کردیم تا این عبارات هم به عنوان Stop Word از متن ما حذف شوند.
</div>

In [162]:
stopwords = [normalizer.normalize(x.strip()) for x in codecs.open('Datas/stopwords_refined.txt','r','utf-8').readlines()]
tokenized_news_nonstop = [t for t in tqdm.tqdm(tokenized_news) if t not in stopwords]

100%|██████████| 64232/64232 [00:00<00:00, 493457.47it/s]

<div dir="rtl">
<h3 style="color:Blue">استخراج کلمات پربسامد</h3>
</div>

In [163]:
most_common_words = FreqDist(tokenized_news_nonstop).most_common(50)
news_word_df = pd.DataFrame(most_common_words, columns=['کلمه', 'تعداد تکرار'])
news_word_df.style.hide_index().set_caption('کلمات پرتکرار اخبار بسکتبالی سایت ورزش ۳')

<div dir="rtl">
<h2 style="color:Orange">جمع بندی تسک ۳</h2>
با دیدن کلمات پر تکرار در جدول بالا، میتوان به این نتیجه رسید که در خبرساز ترین تیم لیگ ایران، تیم های <b>شهرداری گرگان</b> و <b>شیمیدر</b> هستند و در لیگ NBA نیز به نظر جذاب ترین تیم های خبری، تیم های <b>لیکرز</b> و <b>گلدن استیت</b> هستند.<br />
همچنین نکته قابل توجه دیگر آمدن نام <b>جیمز</b> به تعداد بالا در اخبار است که این به دلیل محبوبیت و خبرسازی زیاد لبران جیمز در سطح اخبار است و نشان میدهد این بازیکن برای خبرگزاری ها جذاب است.
همچنین طبق تحلیل که روی کلمات انجام دادیم، به نظر میرسد که میزان اخبار پوششی از لیگ NBA و سوپر لیگ ایران به صورت یکسان در این خبرگزاری توزیع شده است و هر دو به یک نسبت پوشش داده شده اند. همچنین با توجه به کلمات آمده در این لیست اعدادی که وجود دارند، نشان میدهد که این خبرگزاری بیشتر نتایج بازی ها را پوشش میدهد و زیاد به اخبار جانبی در این ورزش نمی پردازد.<br />
<center>
<img src = "Images/Task3_exp.png" height="300">
</center>
</div>

<hr>

<div dir="rtl">
<h1 style="color:Red">جمع بندی تمرین</h1>
این تمرین در سه بخش مجزا انجام شد و هدف کلی آن این بود که آمار و ارقامی از بسکتبال سطح جهان با آمار و ارقام بسکتبال ایران مقایسه شود و نتیجه گیری ها و استنباط هایی از این آمار گرفته شود.<br />
انجام این تمرین از مراحل اولیه جمع آوری داده ها تا تحلیل و به دست آوردن نتایج مطلوب تقریبا ۴ روز به طول انجامید و زمینه های خوبی برای ادامه این تحلیل ها و نتیجه گیری ها برای بسکتبال ایران فراهم شد.
</div>